.App {
  min-height: 100% !important;
  text-align: center;
  overflow: hidden !important;
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
}

.landingpage {
  align-self: center;
  justify-content: center;
}
.form{
  background-position-y: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.application{
  display: flex;
  justify-content: center;
  align-items: center;
}

.application-container{
  height: 100%;
  margin: 20px;
  position: relative;
}
.canvas{
  height: 100%;
  width: 100%;
}